html {
    background-color:bisque;
    font-family: 'IBM Plex Mono', monospace;
}


.title {
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 15px;
    color:brown;
}
.description{
    font-size: 25px;
    margin-bottom: 15px;
    color:cadetblue;
}
.price {
    font-size: 35px;
    margin-bottom: 90px;
    color: red;
}
#Homepage{
    text-align: center;
    font-size: 60px;
    color: brown;
}
.Nav{
    color: red;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}
